<a href="https://colab.research.google.com/github/pravali96/pyspark/blob/main/pyspark_basic_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 58 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 61.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=00f3ec20f26d52164f1303e01032af54b19313c53d2fe1edd39f1742137ee435
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('basics').getOrCreate()

In [4]:
spark

In [6]:
# reading the data set
from google.colab import files
uploaded=files.upload()
import io

Saving sample.csv to sample.csv

In [8]:
df=spark.read.option('header','true').csv('sample.csv', inferSchema=True)

In [9]:
df.show()

+---------+-----+-----------+
|   Region|Sales|Expenditure|
+---------+-----+-----------+
|  Chennai|20000|      50000|
|Hyderabad|25000|      20000|
|Bangalore|15000|      30000|
|   Mumbai|16000|      35000|
| Kolkatta|26000|      40000|
|  Chennai|16000|      20000|
|Bangalore|26000|      30000|
|   Mumbai|20000|      24000|
|Bangalore|25000|      30000|
|Hyderabad|18000|      25000|
+---------+-----+-----------+

In [10]:
df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- Expenditure: integer (nullable = true)

In [11]:
#combining all into one, if header is false headings will be considered as values
df=spark.read.csv('sample.csv', header=True, inferSchema=True)
df.show()

+---------+-----+-----------+
|   Region|Sales|Expenditure|
+---------+-----+-----------+
|  Chennai|20000|      50000|
|Hyderabad|25000|      20000|
|Bangalore|15000|      30000|
|   Mumbai|16000|      35000|
| Kolkatta|26000|      40000|
|  Chennai|16000|      20000|
|Bangalore|26000|      30000|
|   Mumbai|20000|      24000|
|Bangalore|25000|      30000|
|Hyderabad|18000|      25000|
+---------+-----+-----------+

In [12]:
type(df)

pyspark.sql.dataframe.DataFrame

In [13]:
df.head(3)

[Row(Region='Chennai', Sales=20000, Expenditure=50000),
 Row(Region='Hyderabad', Sales=25000, Expenditure=20000),
 Row(Region='Bangalore', Sales=15000, Expenditure=30000)]

In [14]:
# selecting columns
sub=df.select(['Region', 'Expenditure'])
sub.show()

+---------+-----------+
|   Region|Expenditure|
+---------+-----------+
|  Chennai|      50000|
|Hyderabad|      20000|
|Bangalore|      30000|
|   Mumbai|      35000|
| Kolkatta|      40000|
|  Chennai|      20000|
|Bangalore|      30000|
|   Mumbai|      24000|
|Bangalore|      30000|
|Hyderabad|      25000|
+---------+-----------+

In [15]:
df.dtypes

[('Region', 'string'), ('Sales', 'int'), ('Expenditure', 'int')]

In [16]:
#describe function
df.describe()

DataFrame[summary: string, Region: string, Sales: string, Expenditure: string]

In [17]:
df.describe().show()

+-------+---------+----------------+-----------------+
|summary|   Region|           Sales|      Expenditure|
+-------+---------+----------------+-----------------+
|  count|       10|              10|               10|
|   mean|     null|         20700.0|          30400.0|
| stddev|     null|4448.47039878753|9335.713982098827|
|    min|Bangalore|           15000|            20000|
|    max|   Mumbai|           26000|            50000|
+-------+---------+----------------+-----------------+

In [18]:
#adding columns
df1=df.withColumn('Revenue', df['Expenditure']-df['Sales'])
df1.show()

+---------+-----+-----------+-------+
|   Region|Sales|Expenditure|Revenue|
+---------+-----+-----------+-------+
|  Chennai|20000|      50000|  30000|
|Hyderabad|25000|      20000|  -5000|
|Bangalore|15000|      30000|  15000|
|   Mumbai|16000|      35000|  19000|
| Kolkatta|26000|      40000|  14000|
|  Chennai|16000|      20000|   4000|
|Bangalore|26000|      30000|   4000|
|   Mumbai|20000|      24000|   4000|
|Bangalore|25000|      30000|   5000|
|Hyderabad|18000|      25000|   7000|
+---------+-----+-----------+-------+

In [19]:
#renaming columns
df1.withColumnRenamed('Revenue', 'revenue').show()

+---------+-----+-----------+-------+
|   Region|Sales|Expenditure|revenue|
+---------+-----+-----------+-------+
|  Chennai|20000|      50000|  30000|
|Hyderabad|25000|      20000|  -5000|
|Bangalore|15000|      30000|  15000|
|   Mumbai|16000|      35000|  19000|
| Kolkatta|26000|      40000|  14000|
|  Chennai|16000|      20000|   4000|
|Bangalore|26000|      30000|   4000|
|   Mumbai|20000|      24000|   4000|
|Bangalore|25000|      30000|   5000|
|Hyderabad|18000|      25000|   7000|
+---------+-----+-----------+-------+

In [22]:
# dropping columns
df1.drop('revenue').show()

+---------+-----+-----------+
|   Region|Sales|Expenditure|
+---------+-----+-----------+
|  Chennai|20000|      50000|
|Hyderabad|25000|      20000|
|Bangalore|15000|      30000|
|   Mumbai|16000|      35000|
| Kolkatta|26000|      40000|
|  Chennai|16000|      20000|
|Bangalore|26000|      30000|
|   Mumbai|20000|      24000|
|Bangalore|25000|      30000|
|Hyderabad|18000|      25000|
+---------+-----+-----------+

+---------+-----+-----------+-------+
|   Region|Sales|Expenditure|Revenue|
+---------+-----+-----------+-------+
|  Chennai|20000|      50000|  30000|
|Hyderabad|25000|      20000|  -5000|
|Bangalore|15000|      30000|  15000|
|   Mumbai|16000|      35000|  19000|
| Kolkatta|26000|      40000|  14000|
|  Chennai|16000|      20000|   4000|
|Bangalore|26000|      30000|   4000|
|   Mumbai|20000|      24000|   4000|
|Bangalore|25000|      30000|   5000|
|Hyderabad|18000|      25000|   7000|
+---------+-----+-----------+-------+

## Handling Missing Values

In [24]:
# reading the data set
from google.colab import files
uploaded=files.upload()
import io

Saving sample.csv to sample (1).csv

In [27]:
df2=spark.read.csv('sample (1).csv', header=True, inferSchema=True)

In [28]:
df2.show()

+---------+-----+-----------+-------+----+--------------+
|   Region|Sales|Expenditure|Manager|  VP|Total Quantity|
+---------+-----+-----------+-------+----+--------------+
|  Chennai|20000|      50000|     RJ|  OJ|           546|
|Hyderabad|25000|      20000|     DJ|  PJ|           564|
|Bangalore|15000|      30000|     VJ|  OJ|           469|
|   Mumbai|16000|      35000|     RJ|  PJ|           779|
| Kolkatta|26000|      40000|     DJ|  OJ|           487|
|  Chennai|16000|      20000|     VJ|null|           748|
|Bangalore|26000|      30000|   null|  OJ|           457|
|   Mumbai|20000|      24000|   null|null|           420|
|Bangalore|25000|      30000|   null|null|          null|
|Hyderabad|18000|      25000|     RJ|null|           250|
+---------+-----+-----------+-------+----+--------------+

In [29]:
df2.printSchema

In [31]:
df2.na.drop().show() #deletes all rows with missing records

+---------+-----+-----------+-------+---+--------------+
|   Region|Sales|Expenditure|Manager| VP|Total Quantity|
+---------+-----+-----------+-------+---+--------------+
|  Chennai|20000|      50000|     RJ| OJ|           546|
|Hyderabad|25000|      20000|     DJ| PJ|           564|
|Bangalore|15000|      30000|     VJ| OJ|           469|
|   Mumbai|16000|      35000|     RJ| PJ|           779|
| Kolkatta|26000|      40000|     DJ| OJ|           487|
+---------+-----+-----------+-------+---+--------------+

In [34]:
df2.na.drop(how='any', thresh=5).show() 
# deletes any record that doesnt have atleast 5 non missing values

+---------+-----+-----------+-------+----+--------------+
|   Region|Sales|Expenditure|Manager|  VP|Total Quantity|
+---------+-----+-----------+-------+----+--------------+
|  Chennai|20000|      50000|     RJ|  OJ|           546|
|Hyderabad|25000|      20000|     DJ|  PJ|           564|
|Bangalore|15000|      30000|     VJ|  OJ|           469|
|   Mumbai|16000|      35000|     RJ|  PJ|           779|
| Kolkatta|26000|      40000|     DJ|  OJ|           487|
|  Chennai|16000|      20000|     VJ|null|           748|
|Bangalore|26000|      30000|   null|  OJ|           457|
|Hyderabad|18000|      25000|     RJ|null|           250|
+---------+-----+-----------+-------+----+--------------+

In [40]:
df2.na.drop(how='all', thresh=4 ).show()
#If 'any', drop a row if it contains any nulls.
# If 'all', drop a row only if all its values are null.

+---------+-----+-----------+-------+----+--------------+
|   Region|Sales|Expenditure|Manager|  VP|Total Quantity|
+---------+-----+-----------+-------+----+--------------+
|  Chennai|20000|      50000|     RJ|  OJ|           546|
|Hyderabad|25000|      20000|     DJ|  PJ|           564|
|Bangalore|15000|      30000|     VJ|  OJ|           469|
|   Mumbai|16000|      35000|     RJ|  PJ|           779|
| Kolkatta|26000|      40000|     DJ|  OJ|           487|
|  Chennai|16000|      20000|     VJ|null|           748|
|Bangalore|26000|      30000|   null|  OJ|           457|
|   Mumbai|20000|      24000|   null|null|           420|
|Hyderabad|18000|      25000|     RJ|null|           250|
+---------+-----+-----------+-------+----+--------------+

In [41]:
df2.na.drop(how='any', subset=['VP']).show()
# deletes only the rows that have missing values in VP

+---------+-----+-----------+-------+---+--------------+
|   Region|Sales|Expenditure|Manager| VP|Total Quantity|
+---------+-----+-----------+-------+---+--------------+
|  Chennai|20000|      50000|     RJ| OJ|           546|
|Hyderabad|25000|      20000|     DJ| PJ|           564|
|Bangalore|15000|      30000|     VJ| OJ|           469|
|   Mumbai|16000|      35000|     RJ| PJ|           779|
| Kolkatta|26000|      40000|     DJ| OJ|           487|
|Bangalore|26000|      30000|   null| OJ|           457|
+---------+-----+-----------+-------+---+--------------+

In [44]:
#Imputation
df22=df2.na.fill('Missing Values',['Manager', 'VP'])
df22.show()

+---------+-----+-----------+--------------+--------------+--------------+
|   Region|Sales|Expenditure|       Manager|            VP|Total Quantity|
+---------+-----+-----------+--------------+--------------+--------------+
|  Chennai|20000|      50000|            RJ|            OJ|           546|
|Hyderabad|25000|      20000|            DJ|            PJ|           564|
|Bangalore|15000|      30000|            VJ|            OJ|           469|
|   Mumbai|16000|      35000|            RJ|            PJ|           779|
| Kolkatta|26000|      40000|            DJ|            OJ|           487|
|  Chennai|16000|      20000|            VJ|Missing Values|           748|
|Bangalore|26000|      30000|Missing Values|            OJ|           457|
|   Mumbai|20000|      24000|Missing Values|Missing Values|           420|
|Bangalore|25000|      30000|Missing Values|Missing Values|          null|
|Hyderabad|18000|      25000|            RJ|Missing Values|           250|
+---------+-----+-----------+--------------+--------------+--------------+

In [47]:
from pyspark.ml.feature import Imputer
imputer=Imputer(
    inputCols=['Total Quantity'],
    outputCols=["{}_imputer".format(c) for c in ['Total Quantity']]
).setStrategy("mean")

In [48]:
imputer.fit(df22).transform(df22).show()

+---------+-----+-----------+--------------+--------------+--------------+----------------------+
|   Region|Sales|Expenditure|       Manager|            VP|Total Quantity|Total Quantity_imputer|
+---------+-----+-----------+--------------+--------------+--------------+----------------------+
|  Chennai|20000|      50000|            RJ|            OJ|           546|                   546|
|Hyderabad|25000|      20000|            DJ|            PJ|           564|                   564|
|Bangalore|15000|      30000|            VJ|            OJ|           469|                   469|
|   Mumbai|16000|      35000|            RJ|            PJ|           779|                   779|
| Kolkatta|26000|      40000|            DJ|            OJ|           487|                   487|
|  Chennai|16000|      20000|            VJ|Missing Values|           748|                   748|
|Bangalore|26000|      30000|Missing Values|            OJ|           457|                   457|
|   Mumbai|20000|      24000|Missing Values|Missing Values|           420|                   420|
|Bangalore|25000|      30000|Missing Values|Missing Values|          null|                   524|
|Hyderabad|18000|      25000|            RJ|Missing Values|           250|                   250|
+---------+-----+-----------+--------------+--------------+--------------+----------------------+

## Filter Operations

In [49]:
df2.filter('Expenditure>20000').show()

+---------+-----+-----------+-------+----+--------------+
|   Region|Sales|Expenditure|Manager|  VP|Total Quantity|
+---------+-----+-----------+-------+----+--------------+
|  Chennai|20000|      50000|     RJ|  OJ|           546|
|Bangalore|15000|      30000|     VJ|  OJ|           469|
|   Mumbai|16000|      35000|     RJ|  PJ|           779|
| Kolkatta|26000|      40000|     DJ|  OJ|           487|
|Bangalore|26000|      30000|   null|  OJ|           457|
|   Mumbai|20000|      24000|   null|null|           420|
|Bangalore|25000|      30000|   null|null|          null|
|Hyderabad|18000|      25000|     RJ|null|           250|
+---------+-----+-----------+-------+----+--------------+

In [52]:
df2.filter('Expenditure>20000').select(['Region','Expenditure']).show()

+---------+-----------+
|   Region|Expenditure|
+---------+-----------+
|  Chennai|      50000|
|Bangalore|      30000|
|   Mumbai|      35000|
| Kolkatta|      40000|
|Bangalore|      30000|
|   Mumbai|      24000|
|Bangalore|      30000|
|Hyderabad|      25000|
+---------+-----------+

In [55]:
df2.filter('Manager=="DJ"').select(['Region','Expenditure','Manager']).show()

+---------+-----------+-------+
|   Region|Expenditure|Manager|
+---------+-----------+-------+
|Hyderabad|      20000|     DJ|
| Kolkatta|      40000|     DJ|
+---------+-----------+-------+

In [58]:
df2.filter((df2['Manager']=="DJ") & (df2['Expenditure']>21000)).show()

+--------+-----+-----------+-------+---+--------------+
|  Region|Sales|Expenditure|Manager| VP|Total Quantity|
+--------+-----+-----------+-------+---+--------------+
|Kolkatta|26000|      40000|     DJ| OJ|           487|
+--------+-----+-----------+-------+---+--------------+

In [59]:
# Negation
df2.filter(~(df2['Manager']=="DJ") & (df2['Expenditure']>20000)).show()
#gives all the recors where manager is not DJ and exp > 20K

+---------+-----+-----------+-------+----+--------------+
|   Region|Sales|Expenditure|Manager|  VP|Total Quantity|
+---------+-----+-----------+-------+----+--------------+
|  Chennai|20000|      50000|     RJ|  OJ|           546|
|Bangalore|15000|      30000|     VJ|  OJ|           469|
|   Mumbai|16000|      35000|     RJ|  PJ|           779|
|Hyderabad|18000|      25000|     RJ|null|           250|
+---------+-----+-----------+-------+----+--------------+

## Groupby and Aggregations

In [60]:
df2.groupBy('Region').sum().show() #Sums up all num cols wrt Region

+---------+----------+----------------+-------------------+
|   Region|sum(Sales)|sum(Expenditure)|sum(Total Quantity)|
+---------+----------+----------------+-------------------+
|Bangalore|     66000|           90000|                926|
| Kolkatta|     26000|           40000|                487|
|  Chennai|     36000|           70000|               1294|
|   Mumbai|     36000|           59000|               1199|
|Hyderabad|     43000|           45000|                814|
+---------+----------+----------------+-------------------+

In [62]:
df2.groupby('Manager').sum('Sales').show()

+-------+----------+
|Manager|sum(Sales)|
+-------+----------+
|   null|     71000|
|     VJ|     31000|
|     DJ|     51000|
|     RJ|     54000|
+-------+----------+

In [63]:
df2.groupby('Manager').mean('Sales').show()

+-------+------------------+
|Manager|        avg(Sales)|
+-------+------------------+
|   null|23666.666666666668|
|     VJ|           15500.0|
|     DJ|           25500.0|
|     RJ|           18000.0|
+-------+------------------+

In [64]:
df2.groupby('Region').count().show()

+---------+-----+
|   Region|count|
+---------+-----+
|Bangalore|    3|
| Kolkatta|    1|
|  Chennai|    2|
|   Mumbai|    2|
|Hyderabad|    2|
+---------+-----+

In [65]:
df2.agg({'Sales':'sum'}).show()

+----------+
|sum(Sales)|
+----------+
|    207000|
+----------+